body {
  background-color: #101010;
  margin: 0px;
  overflow: hidden;
}
#whiteboard-container canvas {
  position: absolute;
}
#whiteboard-container {
  height: 100%;
  width: 100%;
  position: absolute;
}
#whiteboard-container > svg.user-count {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: default;
}
#whiteboard-container text.user-count {
  fill: #00D5B0;
  stroke: #000000;
  stroke-width: 1.5px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  text-anchor: start;
}
.color-picker-wrapper {
  border-radius: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 32px;
  width: 32px;
  border: 1.5px solid #101010;
}
.color-picker {
  opacity: 0;
  width: inherit;
  height: inherit;
  padding: 0;
}
.color-picker:hover {
  cursor: pointer;
}